* {
  box-sizing: border-box;
}

h2 {
  margin: 15px 0;
  color: #f7b100;
  font-size: 24px;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

table td {
  padding: 3px;
  border: 1px solid #000000;
}